@use "variables" as v;

body {
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
        "header main"
        "aside main"
        "footer footer";
    grid-template-columns: 200px 1fr; 
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
    margin: 0;
    .main {
        @include v.main(main, hidden, #fef5c8, 100vh, v.$fuente);
        .calendario {
            background-color: #F23E02;
            display: flex;
            font-family: v.$fuente;
            font-size: 18px;
            color: white;
            min-height: 1.8%;
            .buttom {
                background-color: v.$background;
                margin: 20px;
                padding: 5px 20px;
                border-bottom: v.$bottom;
                border-radius: v.$radius;
            }
            .imgcalendario {
                height: 20px;        
            }
        }
        .datos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px;
            border-bottom: v.$bottom;
            div {
                padding: 5px 30px;
                background-color: aquamarine;    
                border-bottom: v.$bottom;
                border-radius: v.$radius;
                h2 {
                    font-size: x-large;
                }
                p {
                    font-size: medium;
                    color: blue;
                }
            }
        }
        .graficos-grid { 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            .graficos {
                background-color: white;
                margin: 25px 5rem;
                font-family: v.$fuente;
                animation: fadeInUp 1s ease-out; 
                animation-fill-mode: forwards;
                opacity: 0;
                .grafico-1 { 
                    animation-delay: 0.5s; 
                }
                .grafico-2 { 
                    animation-delay: 0.7s; 
                }
                .grafico-3 { 
                    animation-delay: 0.9s;
                }
                .grafico-4 { 
                    animation-delay: 1,1s;
                }
                h2 {
                    background-color: #013750;
                    padding: 35px;
                    color: white;
                }
                img {
                    max-width: 100%;
                    padding: 20px;
                }
                ol {
                    padding: 35px 150px;
                }
            }
        }
    }
    @include v.tablet {    
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 1fr;
        overflow-x: hidden;
        .header {
            grid-area: header;
            display: flex;
            justify-content: space-between;
            .navbar-toggler {
                display: inline-block;
                border: none;
                background-color: transparent;
                filter: invert(1);
            }
            .navbar-toggler:focus {
                box-shadow: none;
            }
            h1 {
                font-size: 10px;
            }
            img{
                width: 55px;
            }
        }
        aside {
            position: fixed;
            top: 0;
            left: -250px; 
            width: 250px;
            height: 100%;
            background-color: #00988D;
            transition: left 0.3s ease-in-out;
            z-index: 1050;
            ul {
                margin-top: 80px;
                list-style: none;
                padding: 0;
                li{
                    margin-top: 20px 0;
                    text-align: center;
                }        
            }
        }
        aside.show {
            left: 0;
        }  

        .main {
            grid-area: main;
            min-height: auto;
            height: 100vh;
            .datos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap:15px;
                h2 {
                    font-size: medium !important;
                }
                p {
                    font-size: small !important;
                }
            }
            
            .graficos-grid {
                display: inline-block;
                width: 100%;
            }

            .graficos ol {
                padding: 45px;
            } 
        }
        .footer {
            grid-area: footer;
            h3 {
                font-size: small !important;
                margin-left: 7px;
            }
            img {
                width: 25px;
            }
            span {
                display: none;
            }
        }
        .contacto .form {
            padding: 40px;
            margin: 20px 0;
        

        }
        .paginas {
            .container {
                font-size: 12px;
                padding-bottom: 20px;
            }
            .lista {
                margin-top: 20px;
            }
            .fila-datos {
                background-color: white;
            }
        }                
    }
    @include v.mobile {   
        .paginas, .main {
            overflow-x: hidden;
            .lista {
                //overflow: visible ;
                //padding-right: 0 ;
                //margin-right: 0 ;
                .tabla-responsive {
                    display: block;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    max-width: 100%;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    .row {
                        flex-wrap: wrap;
                        width: 100%;
                        min-width: 100%;
                        margin: 0;
                    }
                    .row > [class*="col-"] {
                        flex-grow: 1;
                        flex-basis: 0;

                        &.col-3 {
                            flex-grow: 1.5;
                        }
                    }
                    .encabezado-lista div {
                        background-color: #00988D;
                    }
                    .mobile {
                        display: none;
                    }            
                }
                /*.tabla-responsive .col, .tabla-responsive [class*="col-"] {
                    min-width: 50px;
                    white-space: normal;
                }*/
            }
            .graficos-grid .graficos ol {
                    padding: 35px 60px;
                }
        }  
        
        .contacto .form {
            padding: 20px;
            margin: 10px 0;
            width: 80%;
        }  
    }
}